target/
.idea/
.project
.classpath
.settings/
.DS_Store
*.iml
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties
/.mvn/wrapper/MavenWrapperDownloader.java
/.mvn/wrapper/maven-wrapper-downloader.java
/.mvn/wrapper/maven-wrapper.js
/.mvn/wrapper/maven-wrapper.py
/.mvn/wrapper/maven-wrapper.sh
/.mvn/wrapper/maven-wrapper.ps1
/.mvn/wrapper/maven-wrapper.cmd
/.mvn/wrapper/maven-wrapper.bat
/.mvn/wrapper/maven-wrapper.tar
/.mvn/wrapper/maven-wrapper.zip
/.env
/.vscode/

